@{
    /**/

    ViewBag.Title = "Marcación";
}

<div id="container_bandeja">
    <div class="row">
        <div class="col-lg-16">
            <div class="block">
                <div class="modal-content animated fadeIn" style="box-shadow:none;">
                    <div class="modal-body">
                        <div class="block-title" id="titulo">
                            <h2>MARCACIONES</h2>
                        </div>
                        @Html.Hidden("hfAnioActual", "", new { Value = @ViewBag.Anio_Actual })
                        <div class="row">
                            <div class="col-md-2">
                                @Html.Label("txtFilDNI", "DNI", new { Class = "control-label" })
                                @Html.TextBox("txtFilDNI", "", new { Class = "form-control input-sm", maxlength = "8", Disabled = "true" })
                            </div>
                            <div class="col-md-2" id="cntFilFECHA_INICIO">
                                <div id="dtpFilFECHA_INICIO">
                                    @Html.MEDPicker("FilFECHA_INICIO", "FECHA DESDE", new Dictionary<string, object> { { "maxlength", "10" }, { "Value", @ViewBag.Fecha_Actual } }, false)
                                </div>
                            </div>
                            <div class="col-md-2" id="cntFilFECHA_FIN">
                                <div id="dtpFilFECHA_FIN">
                                    @Html.MEDPicker("FilFECHA_FIN", "FECHA HASTA", new Dictionary<string, object> { { "maxlength", "10" }, { "Value", @ViewBag.Fecha_Actual } }, false)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10" style="line-height:28px;">
                            </div>
                            <div class="col-md-6 text-right" style="line-height:28px;">
                                <button type="button" id='btnManConsulta' class="btn btn-sm btn-primary" style="margin-right:8px;"><i class="fa fa-search"></i> &nbsp; Buscar</button>
                                <button type="button" id='btnManLimpiar' class="btn btn-sm btn-default" style="margin-right:8px;"><i class="fa fa-refresh"></i> &nbsp; Limpiar</button>
                                <button type="button" id='btnManNuevo' class="btn btn-sm btn-success"><i class="fa fa-file"></i> &nbsp; Nuevo</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-16">
                                <div class="jqGrid_wrapper" id="contData">
                                    <table id="tblData"></table>
                                    <div id="pagData"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="dialogRegistro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content animated fadeIn" style="box-shadow:none;" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="m-demo-icon__preview">
                    <!--<i class="flaticon-folder-4"></i>-->
                </div>
                <h4 class="modal-title">Registro de marcación manual</h4>
                <small>Ingrese los datos para registrar una marcación</small>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("txtRegDNI", "N° DNI", new { Class = "control-label" })<span class="requerido"> (*)</span>
                        @Html.TextBox("txtRegDNI", "", new { Class = "form-control input-sm", maxlength = "8" })
                    </div>

                    <div class="col-md-4">
                        @Html.Label("ddlRegTIPO", "TIPO", new { Class = "control-label" })
                        @Html.DropDownList("ddlRegTIPO", ViewBag.lisTIPO as SelectList, new { Class = "form-control input-sm" })
                    </div>

                    <div class="col-md-4" id="cntRegFECHA">
                        <div id="dtpRegFECHA">
                            @Html.MEDPicker("RegFECHA", "FECHA", new Dictionary<string, object> { { "maxlength", "10" } }, true)
                        </div>
                    </div>

                    <div class="col-md-4" data-title="Considerar 12:00 p.m. como mediodía">
                        @Html.Label("txtRegHORA", "HORA : MINUTO", new { Class = "control-label" }) <span class="requerido"> (*)</span>
                        <input type="time" id="txtRegHORA" name="txtRegHORA" class="form-control input-sm">
                    </div>

                    <div class="col-md-12" style="line-height:17px; padding-top:8px;">
                    </div>

                    <div class="col-md-4" style="line-height:17px; padding-top:8px;">
                        @*<span style="margin-top:3px; color:brown">Considerar <strong>12:00 p.m.</strong> como <strong>mediodía</strong></span><br />*@
                        <span style="margin-top:3px; color:brown"><strong>Hora</strong> de 00 a 23</span><br />
                        <span style="margin-top:3px; color:brown"><strong>Minuto</strong> de 00 a 59</span><br />
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" id='btnRegAceptar' class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Grabar</button>
                <button type="button" id='btnRegCancelar' class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
            </div>
        </div>

    </div>
</div>

<input type="hidden" name="idmenuset" value="0100" />
<input type="hidden" name="idopcset" value="0101" />
@section Scripts {
    <script type="text/javascript" nonce="@Html.ScriptNonce()" src="@Url.Content("~/Scripts/views/Control/marcacion.js?v=" + @ViewBag.MED_VERSION_JS + "")"></script>

}

